
        body {
            font-family: Arial;
            background: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .box {
            background: rgba(162, 146, 149, 0.838);
            padding: 20px;
            width: 250px;
            border-radius: 10px;
            box-shadow: 0 0 10px #aaa;
        } 
        input {
            width: 80%;
            padding: 8px;
            margin: 8px 0;
        }
        button {
            width: 50%;
            padding: 8px;
            background-color: rgb(66, 3, 6);
            color: white;
            border: none;
        }
        .error {
            color: rgb(198, 4, 4);
            padding: 5px;
            border: 2px rgb(198, 4, 4) solid;
            background-color: rgb(252, 155, 155);
            border-radius: 10px;
            visibility: hidden;
        }

